.creditCard {
  padding: 25px;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  background: linear-gradient(150deg, #8e1010, #d42e2e);
  display: flex;
  gap: 23px;
  flex-direction: column;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.deriv-bank {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.card-number {
  color: white;
  font-size: 20px;
  font-family: consolas, monospace;
  letter-spacing: 2px;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-holder {
  font-size: 12px;
  font-family: consolas, monospace;
  color: silver;
}

.card-name {
  font-size: 13px;
  font-family: consolas, monospace;
  color: white;
  font-weight: bold;
}

.expiry-date {
  font-size: 12px;
  font-family: consolas, monospace;
  color: silver;
}

.date {
  font-size: 13px;
  font-family: consolas, monospace;
  color: white;
  font-weight: bold;
}
