.mm-container {
  display: flex;
  gap: 20px;
}

.send-money {
  background-color: rgb(255, 220, 220);
  width: fit-content;
  padding: 15px;
  border-radius: 8px;
}

.send {
  color: red;
  font-weight: 500;
}

.send-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.receive-money {
  background-color: rgb(255, 220, 220);
  width: fit-content;
  padding: 15px;
  border-radius: 8px;
}

.receive-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.receive {
  color: green;
  font-weight: 500;
}
