#root {
  width: 100%;
  margin: 0 auto;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credit-card-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
}

.currentBalance {
  font-weight: bold;
  font-size: 20px;
}

.balance {
  color: rgb(33, 193, 177);
  font-weight: bold;
  font-size: 18px;
}

.money-management-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
